a {
    font-size: medium;
    color: darkred;
}

body {
    background-color: dimgray;
}

img {
    width: "200px";
    float: left;
    display: block;

}

h1 {
    margin-bottom: 15px;
    font-size: 45px;
    text-align: center;
    color: white;
    background-color: darkgrey;
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 40px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

h3 {
    margin-top: 15px;
    font-size: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

p {
    text-align: left;
    font-size: 20px;
    font-weight: normal;
    margin-left: 25%;
}

ul {
    text-align: left;
    font-size: 35px;
    border-style: solid;
    border-width: 5px;
    list-style-position: inside;
    margin-left: 60%;
}

.blinks {
    font-size: 35px;
}

.marginright {
    margin-right: 50%;
}

.marginleft {
    margin-left: 60%;
}